.pole1 {
  width: 95%;
  height: auto;
  padding: 15px;
  background-color: #212421;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}
.pole1:focus {
  outline: 2px solid #4e9f3d;
}
.OK {
  background-color: #4e9f3d;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  float: right;
}
.OK:hover {
  background-color: #1e5128;
  cursor: pointer;
}
.button {
  position: absolute;
  right: 400px;
  margin-top: 15px;
  cursor: pointer;
}
.search {
  width: 100%;
}
#searchButt {
  display: none;
}
